<section class="container">
    <ul *ngIf="pokemon.length > 0; else none">
        <app-pokemon-card *ngFor="let poke of pokemon" [pokemon]="poke"></app-pokemon-card>
    </ul>

    <ng-template #none>
        <p>
            You don't have any pokemon yet!
        </p>
        <button class="btn btn-primary" (click)="onCollectFirstPokemon()">Collect Your First Pokemon</button>
    </ng-template>
</section>