<section class="flex-row">
    <nav class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" (click)="handlePreviousPageClicked()" *ngIf="urls?.previous">Previous</a></li>
            <li class="page-item"><a class="page-link" (click)="handleNextPageClicked()" *ngIf="urls?.next">Next</a></li>
        </ul>
    </nav>
</section>