<form [formGroup]="trainerForm" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()">
    <fieldset class="mb-3">
        <label class="form-label" for="name">Trainer name</label>
        <input 
            class="form-control" 
            type="text" 
            id="name" 
            [ngClass]="{ 'is-valid': name?.valid, 'is-invalid': (name?.invalid && (name?.dirty || name?.touched) )}" 
            formControlName="name"
            placeholder="Enter your name"
        >
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger mt-3" role="alert">
            <span *ngIf="name?.errors?.minlength">That's too short.</span>
            <span *ngIf="name?.errors?.maxlength">That's too long.</span>
            <span *ngIf="name?.errors?.required">Name is required.</span>
        </div>
    </fieldset>

    <button class="btn btn-danger" (click)="onCancel($event)">Cancel</button>&nbsp;
    <button class="btn btn-primary" [disabled]="name?.invalid" type="submit">Start Training</button>
</form>