<app-spinner-overlay [showSpinner]="loading"></app-spinner-overlay>

<section class="container pokemon-details" *ngIf="pokemon !== undefined && !error">
    <div class="mb-3">
        <button class="btn btn-primary" (click)="onCollectClick()" *ngIf="!isCollected">Collect Pokemon</button>&nbsp;
        <button class="btn btn-danger" (click)="onLetGoClick()" *ngIf="isCollected">Let Go</button>
    </div>

    <div class="card pokemon-card mb-3">
        <h1>{{pokemon?.name | titlecase}}</h1>

        <img class="pokemon-card__image mb-3" [src]="pokemon?.sprites?.front_default" [alt]="pokemon?.name">

        <p><strong>Stats: </strong><span *ngFor="let type of pokemon?.stats; last as last">{{type?.stat?.name}} {{type?.base_stat}}<span *ngIf="!last">, </span><span *ngIf="last">.</span></span></p>

        <p><strong>Types: </strong><span *ngFor="let type of pokemon?.types; last as last">{{type?.type?.name | titlecase}}<span *ngIf="!last">, </span><span *ngIf="last">.</span></span></p>
    </div>

    <div class="card mb-3" style="width: 300px;">
        <div class="card-body">
            <h2 class="card-title">Profile</h2>
            <p class="card-text">Height: {{pokemon?.height}}</p>
            <p class="card-text">Weight: {{pokemon?.weight}}</p>
            <p class="card-text">Base XP: {{pokemon?.base_experience}}</p>
            <p class="card-text">Abilities:</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let type of pokemon?.abilities">{{type?.ability?.name | titlecase}}</li>
            </ul>
        </div>
    </div>

    <div class="card mb-3" style="width: 300px;">
        <div class="card-body">
            <h2 class="card-title">Moves</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let type of pokemon?.moves">{{type?.move?.name | titlecase}}</li>
        </ul>
    </div>
</section>

<section *ngIf="error" class="alert alert-danger" role="alert">
    <span>{{error}}</span>
</section>