.pokemon-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px #efefef;
}

.pokemon-card {
    border: 10px solid gold;
    border-radius: 10px;
    background: rgb(252,255,125);
    background: linear-gradient(209deg, rgba(252,255,125,1) 0%, rgba(254,255,218,1) 10%, rgba(255,252,126,1) 25%, rgba(254,255,224,1) 44%, rgba(255,250,117,1) 70%, rgba(255,254,238,1) 100%);
    width: 300px;
    padding: 1rem;
    box-shadow: 2px 2px 2px rgba(7, 7, 63, 0.3);
}

.pokemon-card__image {
    border: 5px solid gold;
    border-radius: 5px;
    background: rgb(160,166,201);
    background: linear-gradient(209deg, rgba(160,166,201,1) 0%, rgba(214,214,210,1) 17%, rgba(152,153,190,1) 36%, rgba(206,207,203,1) 56%, rgba(141,140,177,1) 74%, rgba(199,199,192,1) 100%);
    box-shadow: 2px 2px 2px rgba(7, 7, 63, 0.3);
}