.pokemon-card--small {
    margin-bottom: 1rem;
    border: 10px solid yellow;
    border-radius: 10px;
    background: rgb(252,255,125);
    background: linear-gradient(209deg, rgba(252,255,125,1) 0%, rgba(254,255,218,1) 10%, rgba(255,252,126,1) 25%, rgba(254,255,224,1) 44%, rgba(255,250,117,1) 70%, rgba(255,254,238,1) 100%);
    text-shadow: 1px 1px #efefef;
}

.pokemon-card--small__body {
    display: flex;
    align-items: center;
    padding: 0;
}

.pokemon-card--small__title {
    padding-left: 1rem;
}