<section class="card pokemon-card--small" (click)="onPokemonClick()">
    <div class="card-body pokemon-card--small__body">
        <img [src]="pokemonImg" [alt]="pokemonName">
        <h5 class="card-title pokemon-card--small__title">{{pokemonName | titlecase}}</h5>
    </div>
</section>