<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <a class="navbar-brand p-3 pt-0 pb-0" routerLink="/">Pokemon Trainer</a>

  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav">
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="/pokemon" routerLinkActive="active">Pokemon</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="/trainer" routerLinkActive="active">Trainer {{user.name}}</a>
      </li>
    </ul>
  </div>

</nav>

<router-outlet></router-outlet>
