<app-spinner-overlay [showSpinner]="loading"></app-spinner-overlay>

<section *ngIf="!error">
    <app-pagination (nextPage)="nextPage()" (previousPage)="previousPage()"></app-pagination>

    <app-pokemon-card *ngFor="let poke of pokemon" [pokemon]="poke"></app-pokemon-card>

    <app-pagination (nextPage)="nextPage()" (previousPage)="previousPage()"></app-pagination>
</section>

<section *ngIf="error" class="alert alert-danger" role="alert">
    <span>{{error}}</span>
</section>

